.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar a {
  color: #ffffff;
}
.navbar a:hover {
  color: #ddd;
}
.rounded-img{
  max-width: 50%;
  border-radius: 50%;
  padding: 10px;
}

.footer-content, .socials {
  display: flex;
}
.titl {
  font-size: 12px;
}

.link-footer {
  font-size: 10px;
}

.school-img {
  width: 6% !important;
}

.brand {
  font-size: 110% !important;
}
/* .back-img {
  position: absolute;
  object-fit: cover;
  min-width: 100%;
} */
/* .contain {
  background-image: url(https://i.imgur.com/gXGjm3k.jpg);
  object-fit: cover;
  min-height: max-content;
} */

.linear-gradient {
  background: linear-gradient(180deg, rgb(196, 196, 201), rgb(255,255,255));
}

.bg-primary {
  max-width: 100%;
}

@media (max-width:480px) {

  .navbar-nav {
    margin-left: 0% !important;
    font-size: 10px !important;
    font-weight: 600;
  }
}


@media (max-width:840px) {
  .hidden{
    display: none;
  }
  .navbar {
    width: 107%;
  }
  .navbar-nav {
    margin-left: 0%;
    font-size: 12px;
    font-weight: 600;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
