.App {
  text-align: center;
}

.navbar a {
  color: #ffffff;
}
.navbar a:hover {
  color: #ddd;
}
.rounded-img{
  max-width: 50%;
  border-radius: 50%;
  padding: 10px;
}

.footer-content, .socials {
  display: flex;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 48%;
}

.codepen-link {
  margin-left: 5px;
}

.titl {
  font-size: 12px;
}

.link-footer {
  font-size: 14px;
}

.school-img {
  width: 3%;
}

.brand {
  font-size: 110% !important;
  margin-left: 15px;
}

.linear-gradient {
  background: linear-gradient(180deg, rgb(196, 196, 201), rgb(255,255,255));
}

.bg-primary {
  max-width: 100%;
}

.bio {
  padding-left: 324px;
  padding-right: 302px;
}
.appear {
  display: none;
}

.stats {
  border-radius: 10px;
  box-shadow: 1px 2px 3px black;
  height: 199px;
}

@media (min-width:280px) and (max-width:650px) {

  .navbar-nav {
    margin-left: -6% !important;
    font-size: 12px !important;
    font-weight: 600;
  }
  .brand {
    font-size: 86% !important;
    margin-left: -4px !important;
  }
  .appear {
    display: inherit;
  }
  .title-sup {
    font-size: 10px;
  }
  .hidden768{
    display: none;
  }
  .school-img {
    width: 6% !important;
  }
}


@media (min-widht:652px) and (max-width:840px) {
  .appear {
    display: inherit;
  }
  .title-sup {
    font-size: 10px;
  }
  .navbar {
    width: 107%;
  }
  .navbar-nav {
    margin-left: 0%;
    font-size: 18px !important;
    font-weight: 600;
  }
}

@media (max-width: 840px) {
  .hidden{
    display: none;
  }
  .bio {
    padding-left: 15px;
    padding-right: 15px
  }
  .brand {
    font-size: 105%;
    margin-left: 9px;
  }

  .stats {
    width:250px !important;
    height: 100px !important;
  }
}
